<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include common/header %>
</header>

<section id="main_content">

    <div class="section">
        <div class="container">

            <div class="row">
                <div class="content col-md-9 col-sm-12">

                    <div id="blog-post-list" class="row blog-list">

                        <%
                        blog.forEach(function(i, a) {
                        %>

                        <div class="col-md-6 col-sm-12">
                            <div class="blog-wrapper clearfix">
                                <div class="post-media">
                                    <div class="entry">
                                       <a href="/blog/<%= i.seoUrl %>"><img src="/img/uploads/<%= i.featuredImgUrl %>" alt="" class="img-responsive"></a>
                                    </div>
                                </div><!-- end media -->
                                <div class="blog-title">
                                    <div class="blog-meta">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-clock-o"></i><%= moment(i.dateAdded).format(shortDateFormat) %> </a></li>
                                            <li><a href="#"><i class="fa fa-tag"></i> <%= i.category.categoryName %> </a></li>
                                        </ul><!-- end list -->
                                    </div><!-- end blog-meta -->
                                    <h4><a href="/blog/<%= i.seoUrl %>" title=""><%= i.title %></a></h4>
                                    <p>
                                    <div class="blog-ellipsis">
                                        <%- i.content %>
                                    </div>
                                    </p>
                                    <a href="/blog/<%=i.seoUrl%>" class="readmore" title="">Read more</a>
                                </div><!-- end blog-title -->
                            </div><!-- end clearfix -->
                        </div><!-- end col -->

                        <% }); %>

                    </div><!-- end row -->

                </div><!-- end content -->

                <div class="sidebar col-md-3 col-sm-12">
                   <!-- <div class="widget clearfix">
                        <a href="#"><img src="upload/banner_01.jpg" alt="" class="img-responsive"></a>
                    </div> -->

                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Latest Posts</h3>
                            <hr>
                        </div><!-- end widget-title -->
                        <div class="widget clearfix">
                            <% for (var i = 0; i < blog.length; i++) { if (i === 10) { break; } %>
                            <div class="related-posts">
                                <div class="entry">
                                    <p><a href="/blog/<%= blog[i].seoUrl %>" title=""> <%= blog[i].title %></a></p>
                                    <small><%= moment(blog[i].dateAdded).format(shortDateFormat) %></small>
                                    <hr>
                                </div><!-- end entry -->
                            </div><!-- end related -->
                            <% } %>
                        </div><!-- end widget -->
                    </div>



                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Categories</h3>
                            <hr>
                        </div><!-- end widget-title -->
                        <% for (var i = 0; i < category.length; i++){ %>
                        <div class="related-posts">
                                <p><a href="/postbycat"> <%= category[i].categoryName %></a></p>
                        </div><!-- end related -->
                        <% } %>
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->
</section>


<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>
