<!DOCTYPE html>
<html lang="en">

<% include ../common/head %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<body class="leftmenu memberprofile">

<!-- ******************************************
START SITE HERE
********************************************** -->

<div id="wrapper">
    <!-- Sidebar -->
    <% include ../common/sidebar_nav %>
    <!-- End of Sidebar -->


    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
        <div id="page-content-wrapper">
            <div class="section">
                <div class="container-fluid">
                    <div class="text-center">
                        <div class="widget-title">
                            <h2 class="text-center edu-green"><strong>Content List</strong></h2>
                        </div><!-- end title -->
                    </div><!-- end title -->
                    <div class="space-top-small"></div>
                    <div class="row">
                        <div id="msg"></div>
                        <table class="table table-responsive table-bordered" id="category-list-table">
                            <thead>
                            <tr>
                                <td>S.N.</td>
                                <td>Title</td>
                                <td>Category</td>
                                <td>Status</td>
                                <td>Actions</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% blog.forEach(function(blog, i) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= blog ? blog.title : 'Undefined' %></td>
                                <td><%= blog ? blog.category.categoryName : 'Not Set' %></td>
                                <td>
                                    <select class="form-control change-content-status" data-contentid="<%= blog.id %>">
                                        <option value="true" <%= blog.status === 'Publish' ? 'selected' : '' %>>Publish</option>
                                        <option value="false" <%= blog.status === 'Draft' ? 'selected' : '' %>>Draft</option>
                                    </select></td>
                                <td>
                                    <a href="/post_list/<%= blog.id%>"><button class="btn btn-default btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="space-top"></div>
        </div>

    </div>
    <!-- end page-content-wrapper -->
</div>
<!-- end wrapper -->

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {

    })
</script>
<script src="js/custom.js"></script>
<script>
    $(document).ready(function() {
        $('#category-list-table').DataTable();

        $('body').on('change', '.change-content-status', changeContentStatus)

        function changeContentStatus() {
            var contentId = $(this).data('contentid');
            var status = $(this).val();
            console.log(contentId,status);
            var model = {
                id : contentId,
                status: status
            };
            $.ajax({
                method: 'POST',
                data: model,
                url: 'post/change/status/',
                success: function (data) {
                    $('#msg').html('<p class="alert alert-success"><strong>'+ data.msg +'</strong></p>');
                    console.log(data);
                },
                error: function(err) {
                    $('#msg').html('<p class="alert alert-danger"><strong>Something went wrong, please try again!</strong></p>');
                }
            });
        }
    })
</script>
</body>
</html>